i{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0 10px;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}